@import "constants.css";
@import "responsive.css";

/* GENERAL STYLING */
/* ------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Glacial Indifference', sans-serif;
    background-color: white;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* BOX STYLING */
/* ------------------------------------------------- */

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    text-decoration: none;
}

.box-links {
    text-decoration: none;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.large {
    flex: 1 1 100%;
}

.small {
    flex: 1 1 calc(25%);
}

.small:hover {
    border-color: transparent;
}