@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

@font-face {
    font-family: "Studio";
    src:url('/static/fonts/studio/Studio-Bold.woff') format('woff'),
        url('/static/fonts/studio/Studio-Bold.ttf') format('truetype');
}


  