@import "base.css";
@import "tech.css";

/* GENERAL STYLING */
/* ------------------------------------------------- */
#qr-body {
    font-family: 'Glacial Indifference', sans-serif;
}

.box-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}