/* MOBILE */
/* ---------------------------------------------------------------- */
@media screen and (max-width: 550px) {
    /* homepage comic stuff */
    /* ------------------------- */
    .carousel {
        flex-direction: column;
    }

    .carousel-page {
        flex-direction: column !important;
        margin-bottom: -2vh !important;
        scroll-snap-align: none !important;
    }

    #box1 {
        margin-top: 25vh;
        margin-bottom: 37vh;
    }

    .box {
        width: 100% !important;
    }

    #box1 {
        padding-top: 1em;
        padding-bottom: 0em !important;
    }

    /* Swap animation gif */
    #hey-im-mobile {
        display: block;
    }

    #hey-im-desktop {
        display: none;
    }

    /* tech page stuff */
    /* ------------------------- */

    #tech-body {
        padding-top: 10px;
    }

    /* navbar (more on tech.css -> not sure why wont work when i move it here) */
    #navbar-logo {
        display: none;
    }

    nav {
        padding: 1vh 2vh;
    }


    #foobar-box {
        margin-top: 0vh !important;
    }

    /* Swap foobar image */
    #foobar-img-desktop {
        display: none;
    }

    #foobar-img-mobile {
        display: block;
    }

    /* boxes &  rows */
    .tech-row {
        flex-direction: column !important;
    }

    #skills-box {
        margin-bottom: 2vh;
    }

}

/* DESKTOP & TABLET */
/* ---------------------------------------------------------------- */
@media screen and (min-width: 551px) {
    /* home page comics */
    /* ------------------------- */
    .carousel {
        scroll-snap-stop: always;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    
    /* bring comic pages lower on the page */
    .carousel-page {
        margin-top: 20vh;
    }

    /* Swap animation gif */
    #hey-im-mobile {
        display: none;
    }

    #hey-im-desktop {
        display: block;
    }

    /* tech page */
    /* ------------------------- */

    /* Swap foobar image */
    #foobar-img-desktop {
        display: block;
    }

    #foobar-img-mobile {
        display: none;
    }

    /* boxes & rows */
    .exp-box {
        flex: 1 1 calc(33.333% - 1em);
    }
}