@import "base.css";

/* BODY STYLING */
/* ------------------------------------------------- */

#tech-body {
    font-family: 'Glacial Indifference', sans-serif;
}

.box-h2 {
    text-align: center;
}

.sticky {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}

/* NAVBAR STYLING
-------------------------------------------------
Adjusted from: https://www.geeksforgeeks.org/how-to-make-responsive-navbar-menu-in-css/
------------------------------------------------- */

nav {
    background-color: white;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;
}

#navbar-logo {
    margin-left: 1.5vw;
    width: 100%;
    height: auto;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-right: 5vw;
}

ul li a {
    color: black;
    font-size: large;
    text-decoration: none;
    transition: color 0.2s;
}

ul li a:hover {
    color: palevioletred;
    font-weight: bolder;
}


/* BOX STYLING */
/* ------------------------------------------------- */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}

.tech-row {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}

#foobar-box {
    margin-top: 2vh;
}


/* EXPERIENCE BOX ELEMENT STYLING */
/* ------------------------------------------------- */

#experience-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.exp-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: transparent;
    margin: 1.25em 0;
}

.exp-img-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 1.5em;
}

.exp-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exp-dur {
    margin: -1em 0;
    font-size: 0.75em;
}

.exp-job {
    margin-bottom: -0.3em;
}

.exp-pos {
    font-style: italic;
}

/* SKILLS BOX ELEMENT STYLING */
/* ------------------------------------------------- */

#and-education {
    display: none;
}

#skills-title-box {
    flex: 1 1 calc(40% - 1em);
    margin-right: 2vw;
}

#skills-box {
    flex: 1 1 calc(40% - 1em);
    margin-right: 2vw;
    overflow: visible;
}

.box-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#skill-badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.badge {
    margin: 0.5em;
    color: black;
    background-color: white;
    border: 2px solid black;
    font-size: 1.25em;
    padding: 5px 10px;
    border-radius: 4px;
}

.badge:hover {
    color: white;
    border: none;
    font-weight: bold;
}

.skill-os:hover {
    background-color: #ff94c1;
}

.skill-lang:hover {
    background-color: #7abcf5;
}

.skill-tool:hover {
    background-color: #6bcf4f;
}

/* tooltip styling adjusted from 
https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_bottom */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    font-weight: 100;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* EDUCATION BOX STYLING */
/* ------------------------------------------------- */

#edu-title-box {
    flex: 1 1 calc(60% - 1em);
}

#education-box {
    flex: 1 1 calc(60% - 1em);
}

#education-code {
    display: flex;
    width: 80%;
    background-color: white;
    border: 3px solid black;
    border-radius: 1%;
    font-size: larger;

    padding-right: 15vw;
    padding-left: 6vw;
    padding-top: 5vh;
    padding-bottom: 5vh;

    box-sizing: border-box;
    margin-left: 6.5vw;
}

.tech-button {
    padding: 0.5em;
    border: 3px solid black;
    border-radius: 1%;

    background-color: white;
    color: black;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    justify-content: center;
}

.tech-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#preview-button {
    display: flex;
    width: 80%;
    margin-left: 6.5vw;
    margin-top: -2.25vh;
    margin-bottom: 1vh;
}

#raw-button {
    display: none;
    margin-top: -2vh;
    margin-bottom: 1.5vh;
    width: 100%;
}

zero-md {
    display: none;
    padding: 3vh 7vw;
    margin: 1.25vh 0vw;
    background-color: white;
    border: 3px solid black;
    border-radius: 1%;
    font-family: 'Glacial Indifference', sans-serif;
}