@import "base.css";

/* BODY STYLING */
/* ------------------------------------------------- */

#tech-body {
    font-family: 'Glacial Indifference', sans-serif;
}

.box-h2 {
    text-align: center;
}

.sticky {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}

/* NAVBAR STYLING
-------------------------------------------------
Adjusted from: https://www.geeksforgeeks.org/how-to-make-responsive-navbar-menu-in-css/
------------------------------------------------- */

nav {
    background-color: white;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;
}

#navbar-logo {
    width: 10%;
    height: auto;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-right: 5vw;
}

ul li a {
    color: black;
    font-size: large;
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: palevioletred;
}

.checkbtn {
    font-size: 2em;
    color: black;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 550px) {
    .checkbtn {
        display: block;
        order: 1;
    }

    ul {
        position: fixed;
        top: 15vh;
        right: -100%;
        background-color: white;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }

    ul li {
        margin: 2vh 0;
    }

    ul li a {
        font-size: 1.5em;
    }

    #check:checked ~ ul {
        right: 0;
    }
}


/* BOX STYLING */
/* ------------------------------------------------- */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}

.tech-row {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}

#foobar-box {
    margin-top: 8vh;
}

#skills-box {
    flex: 1 1 calc(40% - 1em);
    margin-right: 2vw;
}

#education-box {
    flex: 1 1 calc(60% - 1em);
}

#experience-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.exp-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: transparent;
    margin: 1.25em 0;
}

/* EXPERIENCE BOX ELEMENT STYLING */
/* ------------------------------------------------- */

.exp-img-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 1.5em;
}

.exp-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exp-dur {
    margin: -1em 0;
    font-size: 0.75em;
}

.exp-job {
    margin-bottom: -0.3em;
}

.exp-pos {
    font-style: italic;
}

/* SKILLS BOX ELEMENT STYLING */
/* ------------------------------------------------- */

#skills-box-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#skill-badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1.5vh;
}

.badge {
    margin: 0.5em;
    background-color: green;
    color: #fff;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 4px;
}

.skill-os {
    background-color: #ff94c1;
}

.skill-lang {
    background-color: #7abcf5;
}

.skill-tool {
    background-color: #6bcf4f;
}

/* tooltip styling adjusted from 
https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_bottom */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}