@import "base.css";

/* BODY STYLING */
/* ------------------------------------------------- */

#tech-body {
    font-family: 'Glacial Indifference', sans-serif;
}

.box-h2 {
    text-align: center;
}

#preload-images {
    display: none;
    background: url('../imgs/logos/color/johndeere.png'),
                url('../imgs/logos/color/nf.png'),
                url('../imgs/logos/color/hbp.png'),
                url('../imgs/logos/color/starapple.png'),
                url('../imgs/logos/color/recordedfuture.png'),
                url('../imgs/logos/color/northeastern.png'),
                url('../imgs/logos/color/colorstack.png'),
                url('../imgs/logos/color/rtc.png'),
                url('../imgs/projects/color_baby-buds.png'),
                url('../imgs/projects/color_battle-salvo.png'),
                url('../imgs/projects/color_big-sister.png'),
                url('../imgs/projects/color_down-the-rabbit-hole.png'),
                url('../imgs/projects/color_bullet-journal.png'),
                url('../imgs/projects/color_the-stem.png'),
                url('../imgs/projects/color_period-pride.png'),
                url('../imgs/projects/color_markdown-toc-generator.png'),
                url('../imgs/projects/color_finance-scrapers.png'),
                url('../imgs/projects/color_tea-time.png'),
                url('../imgs/logos/color/linkedin.png'),
                url('../imgs/projects/color_page14.png'),
                url('../imgs/logos/color/github.png'),
                url('../imgs/logos/color/comicbook.png')
}

/* NAVBAR STYLING
-------------------------------------------------
Parts taken and adjusted from: https://www.geeksforgeeks.org/how-to-make-responsive-navbar-menu-in-css/
------------------------------------------------- */

/* home & associated dropdown */
#home-a { padding: 0.15em; }
#home-a:hover { cursor: pointer; }
.double-underline:hover { cursor: pointer; }
.double-underline { position: relative; }

.double-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: currentColor;
    bottom: -0.25em;
    left: 0;
    box-shadow: 0 3px 0 currentColor;
}

#home-a:hover {
    border-color: pink;
    transition: border-color 0.1s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    z-index: 200;
    background-color: white;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0.5vw;
    padding-right: 1.5vw;
    position: absolute;
    gap: 0.75em;
}

#tech-dropdown { 
    display: none; 
    margin-top: 1vh;
}

#tech-dropdown a { 
    color: black;
    font-weight: lighter;
    border-bottom: 1px solid black;
}

#tech-dropdown a:hover {
    color: palevioletred;
    font-weight: bold;
    transition: color 0.2s;
}

/* rest of navbar */
nav {
    background-color: white;
    color: white;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;
}

#navbar-logo {
    margin-left: 1.5vw;
    width: 100%;
    height: auto;
    padding-top: 1vh;
    padding-bottom: 1.25vh;
}

#navbar-a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-right: 5vw;
}

ul li a {
    color: black;
    font-size: calc(0.5em + 1.25vw);
    text-decoration: none;
    font-weight: bolder;
    transition: color 0.2s;
}

ul li a:hover {
    color: palevioletred;
    font-weight: bolder;
}


/* FLOATING ICONS */
/* ------------------------------------------------- */

.floating-icons {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 2vh;
    right: 0vw;
    z-index: 100;
}

.floating-icon {
    width: 4.5em;
    height: 4.5em;
    margin-right: 2vw;
    margin-bottom: 1.5vw;
    background-color: white;
    border: 4px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.floating-icon:hover {
    width: 4.75em;
    height: 4.75em;
    border: transparent;
}

.hidden-floating {
    display: none;
}

.floating-icon-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
}

#comicbook-icon:hover img { 
    content: url("../imgs/logos/color/comicbook.png"); 
    background-color: palevioletred;
}
#github-icon:hover img { content: url("../imgs/logos/color/github.jpg"); }
#linkedin-icon:hover img { content: url("../imgs/logos/color/linkedin.png"); }
#wave-icon:hover img { 
    content: url("../imgs/logos/color/wave.png"); 
    background-color: white;
}



/* BOX STYLING */
/* ------------------------------------------------- */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}

.tech-row {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
}

#foobar-box {
    margin-top: 2vh;
}


/* EXPERIENCE BOX ELEMENT STYLING */
/* ------------------------------------------------- */

#experience-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.exp-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: transparent;
    margin: 1.25em 0;
}

.exp-img-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 1.5em;
}

.exp-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exp-dur {
    margin: -1em 0;
    font-size: calc(0.5em + 0.75vw);
}

.exp-job {
    margin-bottom: -0.3em;
    font-size: calc(0.5em + 1.25vw);
}

.exp-pos {
    font-style: italic;
    font-size: calc(0.5em + 1vw);
}

#johndeere:hover {
    content: url('../imgs/logos/color/johndeere.png');
}

#nf:hover {
    content: url('../imgs/logos/color/nf.png');
}

#hbp:hover {
    content: url('../imgs/logos/color/hbp.png');
}

#starapple:hover {
    content: url('../imgs/logos/color/starapple.png');
}

.recordedfuture:hover {
    content: url('../imgs/logos/color/recordedfuture.png');
}

.northeastern:hover {
    content: url('../imgs/logos/color/northeastern.png');
}

/* SKILLS BOX ELEMENT STYLING */
/* ------------------------------------------------- */

#and-education {
    display: none;
}

#skills-title-box {
    flex: 1 1 calc(40% - 1em);
    margin-right: 2vw;
}

#skills-box {
    flex: 1 1 calc(40% - 1em);
    margin-right: 2vw;
    overflow: visible;
}

.box-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#skill-badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.badge {
    margin: 0.5em;
    color: black;
    background-color: white;
    border: 2px solid black;
    font-size: calc(0.5em + 1.25vw);
    padding: 5px 10px;
    border-radius: 4px;
}

.badge:hover {
    color: white;
    border: none;
    font-weight: bold;
}

.skill-os:hover {
    background-color: #ff94c1;
}

.skill-lang:hover {
    background-color: #7abcf5;
}

.skill-tool:hover {
    background-color: #6bcf4f;
}

/* tooltip styling adjusted from 
https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_bottom */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1vw;
    height: auto;
    width: 10vw;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    font-weight: 100;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* EDUCATION BOX STYLING */
/* ------------------------------------------------- */

#edu-title-box {
    flex: 1 1 calc(60% - 1em);
}

#education-box {
    flex: 1 1 calc(60% - 1em);
}

#education-code {
    display: flex;
    width: 80%;
    background-color: white;
    border: 3px solid black;
    border-radius: 1%;
    font-size: larger;

    padding-right: 15vw;
    padding-left: 6vw;
    padding-top: 5vh;
    padding-bottom: 5vh;

    box-sizing: border-box;
    margin-left: 6.5vw;
}

.tech-button {
    padding: 0.5em;
    border: 3px solid black;
    border-radius: 1%;

    background-color: white;
    color: black;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    justify-content: center;
}

.tech-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#preview-button {
    display: flex;
    width: 80%;
    margin-left: 6.5vw;
    margin-top: -2.25vh;
    margin-bottom: 1vh;
}

#raw-button {
    display: none;
    margin-top: -2vh;
    margin-bottom: 1.5vh;
    width: 100%;
}

zero-md {
    display: none;
    padding: 3vh 7vw;
    margin: 1.25vh 0vw;
    background-color: white;
    border: 3px solid black;
    border-radius: 1%;
    font-family: 'Glacial Indifference', sans-serif;
}


/* PROJECTS BOXES STYLING */
/* ------------------------------------------------- */

#projects-title-box {
    flex: 1 1 calc(70% - 1em);
    margin-right: 2vw;
}

#projects-box {
    flex: 1 1 calc(70% - 1em);
    margin-right: 2vw;
}

#and-organizations {
    display: none;
}

/* slideshow stuff */
#progress-dots {
    text-align: center;
    margin-bottom: 1.5vh;
}

#slideshow-container {
    display: flex;
    flex-direction: column;
}

#tech-slideshow {
    max-width: 100vw;
}

.slides {
    display: none;
    margin-bottom: 0.6vh;
    width: 100%;
}

.slides img {
    vertical-align: middle;
    height: auto;
}

.dot {
    height: 0.5em;
    width: 0.5em;
    margin: 0.5em 0.1em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

#next, #prev {
    background-color: white;
    color: black;
    font-weight: bolder;
    border: 3px solid black;
    cursor: pointer;
    padding: 0.1em 1em;
    margin: 1vh 1vw;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow */
.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* change imgs to color version */
#baby-buds:hover { content: url("../imgs/projects/color_baby-buds.png"); }
#battle-salvo:hover { content: url("../imgs/projects/color_battle-salvo.png"); }
#big-sister:hover { content: url("../imgs/projects/color_big-sister.png"); }
#rabbit-hole:hover { content: url("../imgs/projects/color_down-the-rabbit-hole.png"); }
#bullet-journal:hover { content: url("../imgs/projects/color_bullet-journal.png"); }
#the-stem:hover { content: url("../imgs/projects/color_the-stem.png"); }
#period-pride:hover { content: url("../imgs/projects/color_period-pride.png"); }
#md-toc:hover { content: url("../imgs/projects/color_markdown-toc-generator.png"); }
#finance-scrapers:hover { content: url("../imgs/projects/color_finance-scrapers.png"); }
#page14:hover { content: url("../imgs/projects/color_page14.png"); }
#tea-time:hover { content: url("../imgs/projects/color_tea-time.png"); }


/* ORGANIZATIONS BOXES STYLING */
/* ------------------------------------------------- */

#orgs-title-box {
    flex: 1 1 calc(30% - 1em);
}

#orgs-box {
    flex: 1 1 calc(30% - 1em);
    padding-bottom: 1.5vh;
}

.org-img-container {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    margin-top: 2vh;
    margin-left: 1.5vw;
}

.org-info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.org-text {
    padding-top: 1vh;
    margin: 1vh 1vw;
    font-size: calc(0.5em + 1.5vw);
}

#colorstack:hover {
    content: url("../imgs/logos/color/colorstack.png");
}

#rtc:hover {
    content: url("../imgs/logos/color/rtc.png");
}