---
import BaseLayout from '../layouts/BaseLayout.astro';
import FloatingIcons from '../components/FloatingIcons.astro';
---

<BaseLayout
  title="Mandyland - Boredom"
  description="Just some random things to un-boredom you"
  includeFontAwesome={true}
  includeAnimateCSS={true}
>
  <link slot="head" rel="stylesheet" href="/static/css/boredom.css">

  <body id="boredom-body">
    <div id="preload-boredom-images"></div>

    <FloatingIcons />

    <!-- NAVIGATION -->
    <nav id="boredom-navbar">
      <a id="navbar-a" href="/"><img id="navbar-logo" src="/static/imgs/logo.png" alt="Mandilocs logo"></a>
      <ul>
        <li>
          <div class="dropdown">
            <a id="home-a" class="double-underline" href="/">Home</a>
            <div id="tech-dropdown" class="dropdown-content">
              <a href="https://www.fiverr.com/mandilocs">Fiverr</a>
              <a href="https://www.etsy.com/shop/MandiLocs">Etsy</a>
              <a href="/tech">Tech</a>
            </div>
          </div>
        </li>
        <li><a href="#books-title-box">Books</a></li>
        <li><a href="#food-title-box">Food</a></li>
        <li><a href="#crochet-title-box">Crochet</a></li>
        <li><a href="#people-title-box">People</a></li>
      </ul>
    </nav>

    <!-- mobile navbar -->
    <div id="mobile-navbar">
      <ul class="mobile-ul">
        <li><a href="/">Home</a></li>
        <li><a href="https://www.fiverr.com/mandilocs">Fiverr</a></li>
        <li><a href="https://www.etsy.com/shop/MandiLocs">Etsy</a></li>
        <li><a href="/tech">Tech</a></li>
      </ul>
    </div>

    <!-- BOXES -->
    <!-- row1: books title box -->
    <div id="books-title-box" class="box space-box">
        <div class="box-vertical heading-subheading">
            <h2>My Favorite Books</h2>
            <p class="subheading">(in no particular order <span>(seriously))</span></p>
        </div>
    </div>

    <!-- row2: books on a book shelf -->
    <div id="bookshelf-box" class="box">
        <div id="books">
            <!-- books -->
            <div id="time-war" class="book">
                <a href="https://app.thestorygraph.com/books/97d777d8-a679-4bc3-977f-16b945d1960d" target="_blank">
                    <img src="/static/imgs/books/bw_time-war.png" alt="Cover of Book: This is How You Lose the Time War">
                </a>
            </div>
    
            <div id="saga" class="book">
                <a href="https://app.thestorygraph.com/books/e92bca12-daf3-45f9-bebd-c783a0af27b1" target="_blank">
                    <img src="/static/imgs/books/bw_saga.png" alt="Cover of Book: SAGA Omnibus 1">
                </a>
            </div>
    
            <div id="popisho" class="book">
                <a href="https://app.thestorygraph.com/books/f553692d-309f-4424-8407-f888ebbaeb3a" target="_blank">
                    <img src="/static/imgs/books/bw_popisho.png" alt="Cover of Book: Popisho">
                </a>
            </div>
    
            <div id="death" class="book">
                <a href="https://app.thestorygraph.com/books/8c5b8f39-e2c2-4bef-8017-f2a8f195b2e3" target="_blank">
                    <img src="/static/imgs/books/bw_death.png" alt="Cover of Book: Mrs Death Misses Death">
                </a>
            </div>
    
            <div id="fifth-season" class="book">
                <a href="https://app.thestorygraph.com/books/6d74f9d0-c0ad-40f8-abc2-3d8016467c1d" target="_blank">
                    <img src="/static/imgs/books/bw_fifth-season.png" alt="Cover of Book: The Fifth Season">
                </a>
            </div>
    
            <div id="honey-girl" class="book">
                <a href="https://app.thestorygraph.com/books/ee5f4585-5780-485c-af7d-24e82d651a71" target="_blank">
                    <img src="/static/imgs/books/bw_honey-girl.png" alt="Cover of Book: Honey Girl">
                </a>
            </div>
    
            <div id="sunbeam" class="book">
                <a href="https://app.thestorygraph.com/books/845eee4c-867d-4540-9f06-9654fee3202e" target="_blank">
                    <img src="/static/imgs/books/bw_sunbeam.png" alt="Cover of Book: On a Sunbeam">
                </a>
            </div>
    
            <div id="heir-of-fire" class="book">
                <a href="https://app.thestorygraph.com/books/6fbd3201-dbc9-4aab-98ee-be9a79b40cd4" target="_blank">
                    <img src="/static/imgs/books/bw_heir-of-fire.png" alt="Cover of Book: Heir of Fire">
                </a>
            </div>
    
            <div id="black-sun" class="book">
                <a href="https://app.thestorygraph.com/books/424c0e15-c38e-4783-88ee-49c2f37457b9" target="_blank">
                    <img src="/static/imgs/books/bw_black-sun.png" alt="Cover of Book: Black Sun">
                </a>
            </div>
    
            <div id="musical-youth" class="book">
                <a href="https://app.thestorygraph.com/books/73444e3f-0a08-4bd2-ae1b-cac59a6c472a" target="_blank">
                    <img src="/static/imgs/books/bw_musical-youth.png" alt="Cover of Book: Musical Youth">
                </a>
            </div>
    
            <div id="it" class="book">
                <a href="https://app.thestorygraph.com/books/f790e705-b2db-444b-9050-0a3057615b68" target="_blank">
                    <img src="/static/imgs/books/bw_it.png" alt="Cover of Book: IT">
                </a>
            </div>
    
            <div id="hint" class="book">
                <a href="https://app.thestorygraph.com/books/504dd9ad-ecf3-4b51-a2d6-9494aae13e48" target="_blank">
                    <img src="/static/imgs/books/bw_hint.png" alt="Cover of Book: Take a Hint, Dani Brown">
                </a>
            </div>
    
            <div id="misery" class="book">
                <a href="https://app.thestorygraph.com/books/370edb29-eb18-458b-af87-edaeb71d3348" target="_blank">
                    <img src="/static/imgs/books/bw_misery.png" alt="Cover of Book: Misery">
                </a>
            </div>
    
            <div id="tea" class="book">
                <a href="https://app.thestorygraph.com/books/3a6fb4a9-1d17-45af-a1cd-a384dba73635" target="_blank">
                    <img src="/static/imgs/books/bw_tea.png" alt="Cover of Book: Tea By the Sea">
                </a>
            </div>
    
            <div id="spirits" class="book">
                <a href="https://app.thestorygraph.com/books/12a2f1b7-d827-4a0d-b33e-7cb3fba1cb54" target="_blank">
                    <img src="/static/imgs/books/bw_spirits.png" alt="Cover of Book: The House of the Spirits">
                </a>
            </div>
    
            <div id="tea-dragon-society" class="book">
                <a href="https://app.thestorygraph.com/books/68637dbb-7350-4b1b-ab05-72da640d3376" target="_blank">
                    <img src="/static/imgs/books/bw_tea-dragon-society.png" alt="Cover of Book: The Tea Dragon Society">
                </a>
            </div>
    
            <div id="love-after-love" class="book">
                <a href="https://app.thestorygraph.com/books/26c01e96-b2a5-4741-bf1c-c49cc5a2aca4" target="_blank">
                    <img src="/static/imgs/books/bw_love-after-love.png" alt="Cover of Book: Love After Love">
                </a>
            </div>
    
            <div id="green-gables" class="book">
                <a href="https://app.thestorygraph.com/books/4a65ad10-f586-4fcf-9ae4-c97be7aa3167" target="_blank">
                    <img src="/static/imgs/books/bw_green-gables.png" alt="Cover of Book: Anne of Green Gables">
                </a>
            </div>
    
            <div id="cujo" class="book">
                <a href="https://app.thestorygraph.com/books/68a5d36f-0429-4c39-9fd1-74d383cab3de" target="_blank">
                    <img src="/static/imgs/books/bw_cujo.png" alt="Cover of Book: Cujo">
                </a>
            </div>
    
            <div id="leopard" class="book">
                <a href="https://app.thestorygraph.com/books/a9f1b5d4-0c93-4541-a86e-eae917120b95" target="_blank">
                    <img src="/static/imgs/books/bw_leopard.png" alt="Cover of Book: Black Leopard, Red Wolf">
                </a>
            </div>
    
            <div id="final-empire" class="book">
                <a href="https://app.thestorygraph.com/books/99860520-9842-41bd-866b-4e5f12558d20" target="_blank">
                    <img src="/static/imgs/books/bw_final-empire.png" alt="Cover of Book: The Final Empire">
                </a>
            </div>
    
            <div id="nearby-bushes" class="book">
                <a href="https://app.thestorygraph.com/books/ace78515-8bba-47c4-83cc-21a22d0a189d" target="_blank">
                    <img src="/static/imgs/books/bw_nearby-bushes.png" alt="Cover of Book: In Nearby Bushes">
                </a>
            </div>
    
            <div id="imaginary-friend" class="book">
                <a href="https://app.thestorygraph.com/books/4623de68-52af-4a11-a18b-9675b71d4c63" target="_blank">
                    <img src="/static/imgs/books/bw_imaginary-friend.png" alt="Cover of Book: Imaginary Friend">
                </a>
            </div>
    
            <div id="rage-of-dragons" class="book">
                <a href="https://app.thestorygraph.com/books/3ab8a80f-3f2c-4a89-96b2-4d2c31546f8e" target="_blank">
                    <img src="/static/imgs/books/bw_rage-of-dragons.png" alt="Cover of Book: The Rage of Dragons">
                </a>
            </div>
        </div>
    </div>

    <!-- row3: food and crochet title boxes -->
    <div id="food-crochet-row" class="boredom-row">
        <div id="food-title-box" class="box space-box">
            <div class="box-vertical heading-subheading">
                <h2>Food</h2>
                <p class="subheading">(cooking, baking, fermenting, everythinggggg)</p>
            </div>
        </div>
    
        <div id="crochet-title-box" class="box space-box mobile-hide">
            <div class="box-vertical heading-subheading">
                <h2>Crochet</h2>
                <p class="subheading">(don't actually follow me that's weird :sob: )</p>
            </div>
        </div>
    </div>

    <!-- row4: food and crochet content boxes -->
    <div id="food-crochet-content-row" class="boredom-row">
        <!-- food -->
        <div id="food-box" class="box space-box">
            <button id="food-button" type="button">
                <img src="/static/imgs/bw_recipes.png" alt="Bad drawing of a recipe book that says 'Recipes: and as a wise man once said NOM NOM NOM!'">
            </button>

            <!-- recipes -->
            <div class="modal" id="food-modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Truly some of my favs</h2>
                    <!-- recipes -->

                    <div class="recipe">
                        <div class="recipe-logo">
                            <img src="/static/imgs/recipes/maangchi.svg" alt="Logo for: Maangchi">
                        </div>
                        <div class="recipe-meta">
                            <a class="recipe-link" target="_blank" href="https://www.maangchi.com/recipe/tongbaechu-kimchi"><h4 class="recipe-name">Napa Cabbage Kimchi</h4></a>
                            <p class="recipe-details">There is no such thing as too much garlic... be brave</p>
                        </div>
                    </div>

                    <div class="recipe">
                        <div class="recipe-logo">
                            <img src="/static/imgs/recipes/littlespoonfarm.svg" alt="Logo for: Little Spoon Farm">
                        </div>
                        <div class="recipe-meta">
                            <a class="recipe-link" target="_blank" href="https://littlespoonfarm.com/sourdough-pancakes-waffles-recipe/"><h4 class="recipe-name">Sourdough Waffles</h4></a>
                            <p class="recipe-details">I like to make a batch of them, freeze them, and pretend I'm eating eggos</p>
                        </div>
                    </div>

                    <div class="recipe">
                        <div class="recipe-logo">
                            <img src="/static/imgs/recipes/maangchi.svg" alt="Logo for: Maangchi">
                        </div>
                        <div class="recipe-meta">
                            <a class="recipe-link" target="_blank" href="https://www.maangchi.com/recipe/pajeon"><h4 class="recipe-name">Pajeon (Scallion pancakes)</h4></a>
                            <p class="recipe-details">I can't find the recipe I love the most, but this is close enough. It's all about the sauce folks</p>
                        </div>
                    </div>
                    
                    <div class="recipe">
                        <div class="recipe-logo">
                            <img src="/static/imgs/recipes/nyt.jpg" alt="Logo for: NYTimes Cooking">
                        </div>
                        <div class="recipe-meta">
                            <a class="recipe-link" target="_blank" href="https://cooking.nytimes.com/recipes/1017145-kimchi-jjigae-kimchi-soup"><h4 class="recipe-name">Kimchi Jjigae (Kimchi Soup)</h4></a>
                            <p class="recipe-details">So so gooodddd! I'm pescatarian so I replace the pork belly with more tofu and/or mushrooms</p>
                        </div>
                    </div>
                    
                    <div class="recipe">
                        <div class="recipe-logo">
                            <img src="/static/imgs/recipes/navitas.png" alt="Logo for: Navitas Organics">
                        </div>
                        <div class="recipe-meta">
                            <a class="recipe-link" target="_blank" href="https://navitasorganics.com/blogs/recipes/fudgy-cacao-brownies-recipe"><h4 class="recipe-name">Fudgy Cacao Brownies</h4></a>
                            <p class="recipe-details">Okay hear me out... they look ugly but they taste good! Use a lil less sugar + sprinkle with sea salt</p>
                        </div>
                    </div>

                    <div class="recipe">
                        <div class="recipe-logo">
                            <img src="/static/imgs/recipes/rpl.svg" alt="Logo for: Rainbow Plant Life">
                        </div>
                        <div class="recipe-meta">
                            <a class="recipe-link" target="_blank" href="https://rainbowplantlife.com/vegan-red-lentil-curry/"><h4 class="recipe-name">Red Lentil Curry</h4></a>
                            <p class="recipe-details">Replace almond butter with dairy butter & veggie broth with good chicken or bone broth</p>
                        </div>
                    </div>
                    
                    <div class="recipe">
                        <div class="recipe-logo">
                            <img src="/static/imgs/recipes/sally.png" alt="Logo for: Sally's Baking Addiction">
                        </div>
                        <div class="recipe-meta">
                            <a class="recipe-link" target="_blank" href="https://sallysbakingaddiction.com/homemade-artisan-bread/"><h4 class="recipe-name">Homemade Artisan Bread</h4></a>
                            <p class="recipe-details">Add more water (but seriously dont go boiling the yeast with too hot water)</p>
                        </div>
                    </div>

                    <p>Will add more later</p>


                </div>
            </div>
        </div>

        <!-- crochet -->
        <div id="crochet-title-box" class="box space-box desktop-hide">
            <div class="box-vertical heading-subheading">
                <h2>Crochet</h2>
                <p class="subheading">(don't actually follow me that's weird :sob: )</p>
            </div>
        </div>
        <div id="crochet-box" class="box space-box embed-container">
            <a data-pin-do="embedBoard" href="https://www.pinterest.com/acmrodriques/crochet/"></a>
        </div>
    </div>

    <!-- row5: people title box -->
    <div id="people-title-box" class="box space-box">
        <div class="box-vertical heading-subheading">
            <h2>Awesome People</h2>
            <p class="subheading">(okay you're done chilling with me, go check out these other incredible women in tech!!)</p>
        </div>
    </div>

    <!-- row6:  people content box -->
    <div id="people-box" class="box space-box">
        <div id="people">

            <div id="lena" class="person">
                <a href="https://www.linkedin.com/in/lena-inthisenesouk/" target="_blank">
                    <img src="/static/imgs/people/bw/lena.png" alt="Awful drawing of Lena Inthisenesouk">
                </a>
                <h4 class="person-name">Lena Inthisenesouk</h4>
            </div>

            <div id="belle" class="person">
                <a href="https://hungrybellie.github.io/website/" target="_blank">
                    <img src="/static/imgs/people/bw/belle.png" alt="Awful drawing of Annabelle Chung">
                </a>
                <h4 class="person-name">Annabelle Chung</h4>
            </div>

            <div id="renee" class="person">
                <a href="https://www.linkedin.com/in/reneecai712/" target="_blank">
                    <img src="/static/imgs/people/bw/renee.png" alt="Awful drawing of Renee Cai">
                </a>
                <h4 class="person-name">Renee Cai</h4>
            </div>

            <div id="maddy" class="person">
                <a href="https://www.linkedin.com/in/madelyn-venezia-7814982ab/" target="_blank">
                    <img src="/static/imgs/people/bw/maddy.png" alt="Awful drawing of Madelyn Venezia">
                </a>
                <h4 class="person-name">Madelyn Venezia</h4>
            </div>

            <div id="vy" class="person">
                <a href="https://www.linkedin.com/in/vy-truong-0359032b0/" target="_blank">
                    <img src="/static/imgs/people/bw/vy.png" alt="Awful drawing of Vy Truong">
                </a>
                <h4 class="person-name">Vy Truong</h4>
            </div>

            <div id="sarah" class="person">
                <a href="https://www.linkedin.com/in/sarah-cole-101cs/" target="_blank">
                    <img src="/static/imgs/people/bw/sarah.png" alt="Awful drawing of Sarah Cole">
                </a>
                <h4 class="person-name">Sarah Cole</h4>
            </div>

            <div id="olivia" class="person">
                <a href="https://www.linkedin.com/in/oliviasedarski/" target="_blank">
                    <img src="/static/imgs/people/bw/olivia.png" alt="Awful drawing of Olivia Sedarski">
                </a>
                <h4 class="person-name">Olivia Sedarski</h4>
            </div>

            <div id="remi" class="person">
                <a href="https://www.linkedin.com/in/sophia-yang-nu/" target="_blank">
                    <img src="/static/imgs/people/bw/remi.png" alt="Awful drawing of Sophia Yang">
                </a>
                <h4 class="person-name">Sophia Yang</h4>
            </div>

        </div>
    </div>

    <script>
      import { initFloatingIcons } from '../scripts/floating-icons';
      import { initNavbarDropdown } from '../scripts/navbar-dropdown';

      document.addEventListener('DOMContentLoaded', () => {
        initFloatingIcons();
        initNavbarDropdown();

        // Boredom-specific: Modal functionality
        const modal = document.getElementById("food-modal");
        const btn = document.getElementById("food-button");
        const span = document.getElementsByClassName("close")[0] as HTMLElement;

        if (btn && modal && span) {
          btn.onclick = function() {
            modal.style.display = "block";
          }

          span.onclick = function() {
            modal.style.display = "none";
          }

          window.onclick = function(event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }
        }

        // Boredom-specific: Book scrolling
        const bookshelfBox = document.getElementById('bookshelf-box');
        const books = document.querySelectorAll<HTMLElement>('.book');

        if (bookshelfBox && books.length > 0) {
          // make the fifth season the first active book
          const fifthSeason = document.getElementById('fifth-season');
          if (fifthSeason && bookshelfBox) {
            bookshelfBox.scrollLeft = fifthSeason.offsetLeft - (bookshelfBox.offsetWidth / 2) + (fifthSeason.offsetWidth / 2);
          }

          function updateActiveBook() {
            let closestBook: HTMLElement | null = null;
            let closestDistance = Infinity;

            if (!bookshelfBox) return;

            books.forEach(book => {
              const bookRect = book.getBoundingClientRect();
              const bookshelfBoxRect = bookshelfBox.getBoundingClientRect();
              const bookCenterX = bookRect.left + bookRect.width / 2;
              const bookshelfBoxCenterX = bookshelfBoxRect.left + bookshelfBoxRect.width / 2;
              const distance = Math.abs(bookCenterX - bookshelfBoxCenterX);

              if (distance < closestDistance) {
                closestDistance = distance;
                closestBook = book;
              }
            });

            books.forEach(book => book.classList.remove('active'));
            if (closestBook) {
              closestBook.classList.add('active');
            }
          }

          bookshelfBox.addEventListener('scroll', updateActiveBook);
          window.addEventListener('resize', updateActiveBook);
          updateActiveBook();

          // arrow key navigation
          document.addEventListener('keydown', function(event) {
            if (!bookshelfBox) return;

            if (event.key === 'ArrowLeft') {
              bookshelfBox.scrollBy({ left: -200, behavior: 'smooth' });
            } else if (event.key === 'ArrowRight') {
              bookshelfBox.scrollBy({ left: 200, behavior: 'smooth' });
            }
          });
        }
      });
    </script>

    <!-- pinterest js for board widget -->
    <script is:inline>
      (function(d) {
        var f = d.getElementsByTagName('SCRIPT')[0],
        p = d.createElement('SCRIPT');
        p.type = 'text/javascript';
        p.async = true;
        p.src = '//assets.pinterest.com/js/pinit.js';
        f.parentNode.insertBefore(p, f);
      })(document);
    </script>
  </body>
</BaseLayout>
