---
// Floating icons component for tech page
---

<div class="floating-icons">
  <!-- github -->
  <div id="github-icon" class="floating-icon hidden-floating animate__animated animate__slideInRight">
    <a href="https://github.com/Mandy-cyber/" target="_blank">
      <img class="floating-icon-img" src="/static/imgs/logos/bw/github.png" alt="GitHub icon">
    </a>
  </div>
  <!-- linkedin -->
  <div id="linkedin-icon" class="floating-icon hidden-floating animate__animated animate__slideInRight">
    <a href="https://www.linkedin.com/in/amanda-rodriques/" target="_blank">
      <img class="floating-icon-img" src="/static/imgs/logos/bw/linkedin.png" alt="LinkedIn icon">
    </a>
  </div>
  <!-- comic book -->
  <!-- <div id="comicbook-icon" class="floating-icon hidden-floating animate__animated animate__slideInRight">
    <a href="#" target="_blank">
      <img class="floating-icon-img" src="/static/imgs/logos/bw/comicbook.png" alt="Comic book icon">
    </a>
  </div> -->
  <!-- wave emoji -->
  <div id="wave-icon" class="floating-icon animate__animated">
    <img class="floating-icon-img" src="/static/imgs/logos/bw/wave.png" alt="Wave icon">
  </div>
</div>
