---
// Tech page navigation
---

<nav id="tech-navbar">
  <a id="navbar-a" href="/"><img id="navbar-logo" src="/static/imgs/logo.png" alt="Mandilocs logo"></a>
  <ul>
    <li>
      <!-- home dropdown situation -->
      <div class="dropdown">
        <a id="home-a" class="double-underline" href="/">Home</a>
        <div id="tech-dropdown" class="dropdown-content">
          <a href="https://www.fiverr.com/mandilocs">Fiverr</a>
          <a href="https://www.etsy.com/shop/MandiLocs">Etsy</a>
          <a href="/boredom">Boredom</a>
        </div>
      </div>
    </li>

    <li><a href="#skills-title-box">Skills</a></li>
    <li><a href="#edu-title-box">Education</a></li>
    <li><a href="#experience-box">Experience</a></li>
    <li><a href="#projects-title-box">Projects</a></li>
    <li><a href="#orgs-title-box">Organizations</a></li>
  </ul>
</nav>

<!-- mobile navbar -->
<div id="mobile-navbar">
  <ul class="mobile-ul">
    <li><a href="/">Home</a></li>
    <li><a href="https://www.fiverr.com/mandilocs">Fiverr</a></li>
    <li><a href="https://www.etsy.com/shop/MandiLocs">Etsy</a></li>
    <li><a href="/boredom">Boredom</a></li>
  </ul>
</div>
